<html>
	<head>
		<link href="css/user_styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<center><a href ="https://www.sreenidhi.edu.in/"><img src = "http://www.sreenidhi.edu.in/assets/images/sreenidhi-logo.png" height = "90" alt="college logo"></a></center><br>
		<br>
		<br>
		<div id="page">
			<div id="header">
				<h2>SNIST TIME-TABLE GENERATOR</h2>
			</div>
			<div id="container">
				<center>
					<table>
						<tr>
							<td>
								<button type="submit" name="b9" class="button" >Download</button>
							</td>
						</tr>
					</table>
				</center>
			</div>
			<div id="footer">
				<div class="bottom_addr"></div>
			</div>
		</div>
	</body>
</html>